version: "3.8"
services:
  postgres:
    image: postgres:15
    container_name: andesfin_db
    environment:
      POSTGRES_DB: andesfin
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d